
@{
    ViewBag.Title = "Razor";
}
<section ng-controller="BasicsCtrl">
    <h2>Razor</h2>
    <form>
        <input type="text" name="email" />
        <input type="password" name="password" />
        <input type="password" name="passwordvalidation" />
        <input type="submit" />

    </form>

</section>
    